/* *****************************************************
 ::Project  : web page
 ::Admin    : Korei (@korei-xlix)
 ::github   : https://github.com/korei-xlix/galaxyfleet/
 ::Style    : Default Style - Wide
***************************************************** */

/* margin / padding
	1px             = ALL
	1px 1px         = UP.Down / Left.Right
	1px 1px 1px     = UP / Left.Right / Down
	1px 1px 1px 1px = UP / Right / Down / Left
	*/

/* =====================================================
   Page Title
===================================================== */

#com_PageTitle div.com_TitleImage{
background-image	: url(../_pic/title/starregion_ttl.jpg);
width				: 600px;
height				: 120px;
}

div.com_MobileCaution{
background-color	: red;
}



/* =====================================================
   Inline Frame
===================================================== */

iframe.com_Frame-sample1{
height				: 100px;
}



/* =====================================================
   Body
===================================================== */

body{
background-color	: #DDDDDD;
}

#com_bodyOutline{
background-color	: #DDDDDD;
}

#com_bodyInline{
color				: #000000;
background-color	: #FFFFFF;
}



/* =====================================================
   Header
===================================================== */

header{
background-color	: #6699FF;
border-top			: solid 12px #0066CC;
border-bottom		: solid 12px #0066CC;
}

header span.com_Menu_Select{
color				: #0033FF;
background-color	: #CCFFFF;
}

header a.com_Menu_Cel{
color				: #FFFFFF;
background-color	: #0066FF;

}

header a.com_Menu_Cel:hover{
color				: #009933;
background-color	: #66FF66;
}

header div.com_CSS_Menu{
color				: #FFFFFF;
}

header a.com_CSS_Mode{
color				: #FFFFFF;
background-color	: #006699;
}

header a.com_CSS_Mode:hover{
color				: #003333;
background-color	: #CCFFCC;
}



/* =====================================================
   Footter
===================================================== */

footer{
background-color	: #6699FF;
border-top			: solid 8px #0066CC;
border-bottom		: solid 8px #0066CC;
}

footer div.com_Menu_Description{
color				: #EEFFFF;
}

footer a.com_Menu_Cel{
color				: #FFFFFF;
background-color	: #0066FF;
}

footer a.com_Menu_Cel:hover{
color				: #009933;
background-color	: #66FF66;
}



/* =====================================================
   CopyrightHeader
===================================================== */

#com_CopyrightHeader{
color				: #000000;
background-color	: #FFFFFF;
}



/* =====================================================
   CopyrightFooter
===================================================== */

#com_CopyrightFooter{
color				: #000000;
background-color	: #FFFFFF;
}

#com_CopyrightFooter div.com_Menu_Ope, #com_CopyrightFooter a.com_Menu_Ope{
color				: #FFFFFF;
background-color	: #008000;
}
#com_CopyrightFooter div.com_Menu_Ope:hover, #com_CopyrightFooter a.com_Menu_Ope:hover{
color				: #008000;
background-color	: #00FF3B;
}

#com_CopyrightFooter div.com_Menu_Rule, #com_CopyrightFooter a.com_Menu_Rule{
color				: #FFFFFF;
background-color	: #FF0000;
}
#com_CopyrightFooter div.com_Menu_Rule:hover, #com_CopyrightFooter a.com_Menu_Rule:hover{
color				: #FF0000;
background-color	: #FFCCFF;
}

#com_CopyrightFooter div.com_Menu_RSS, #com_CopyrightFooter a.com_Menu_RSS{
color				: #FFFFFF;
background-color	: #ee802f;
}
#com_CopyrightFooter div.com_Menu_RSS:hover, #com_CopyrightFooter a.com_Menu_RSS:hover{
color				: #ee802f;
background-color	: #FFFF00;
}

#com_CopyrightFooter div.com_Menu_Github, #com_CopyrightFooter a.com_Menu_Github{
color				: #FFFFFF;
background-color	: #800080;
border-radius		: 0px !important;
}
#com_CopyrightFooter div.com_Menu_Github:hover, #com_CopyrightFooter a.com_Menu_Github:hover{
color				: #FF0000;
background-color	: #FFDDFF;
}

#com_CopyrightFooter div.com_Menu_TwitterGF, #com_CopyrightFooter a.com_Menu_TwitterGF{
color				: #FFFFFF;
background-color	: #6699FF;
border-radius		: 0px !important;
}
#com_CopyrightFooter div.com_Menu_TwitterGF:hover, #com_CopyrightFooter a.com_Menu_TwitterGF:hover{
color				: #FFFFFF;
background-color	: #0000FF;
}

#com_CopyrightFooter a.com_Menu_Twitter{
color				: #0000FF;
background-color	: #FFFFFF;
}
#com_CopyrightFooter a.com_Menu_Twitter:hover{
color				: #FFFFFF;
background-color	: #0000FF;
}



/* =====================================================
   Description
===================================================== */

#com_Description{
color				: #000000;
background-color	: transparent;
}



/* =====================================================
   Navigation
===================================================== */

#com_Navigation{
background-color	: transparent;
/*
color				: blue;
border-bottom		: solid 8px dimgray;
border-top			: solid 8px dimgray;
background-color	: cyan;
*/
}

#com_Navigation div.com_NavigationTitle{
color				: #FFFFFF;
background-color	: #000066;
}

#com_Navigation a{
color				: #0000FF;
background-color	: transparent;
}

#com_Navigation a:hover{
color				: #FFFFFF;
background-color	: #0000FF;
}

a.com_Nav{
color				: #444444;
background-color	: #DDDDDD;
}

a.com_Nav:hover{
color				: #009933;
background-color	: #66FF66;
}



/* =====================================================
   Contents Common
===================================================== */

.com_ContentsTitle{
/*
color				: white;
background-color	: cornflowerblue;
*/
color				: #FFFFFF;
background			: #0099FF;
}
.com_ContentsTitle:before{
border-bottom		: solid 10px #0099FF;
border-right		: solid 20px transparent;
}
.com_ContentsTitle:after{
border-top			: solid 10px #0099FF;
border-left			: solid 20px transparent;
}

.com_ContentsBody{
color				: #000000;
background-color	: #FFFFFF;
}



/* =====================================================
   Selector
===================================================== */

							/* Close */
input[type="checkbox"].com_ContentsSelector_CBX + .com_ContentsSelector_LAB{
color				: #FFFFFF;
background			: #0099FF;
border				: inset 6px #0066FF;
}

input[type="checkbox"].com_ContentsSelector_CBX:hover + .com_ContentsSelector_LAB{
color				: #003333;
background-color	: #CCFFCC;
}

							/* Open */
input[type="checkbox"].com_ContentsSelector_CBX:checked + .com_ContentsSelector_LAB{
color				: #FFFFFF;
background-color	: #009900;
border				: inset 6px #009900;
}

input[type="checkbox"].com_ContentsSelector_CBX:checked:hover + .com_ContentsSelector_LAB{
color				: forestgreen;
background-color	: lawngreen;
}

							/* Body */
.com_ContentsSelector_Body{
color				: #000000;
background-color	: #FFFFFF;
border-left			: solid 4px #009900;
border-right		: solid 4px #009900;
border-bottom		: solid 4px #009900;
border-top			: 0px;
}



/* =====================================================
   Anchor
===================================================== */

a{
color				: #0000FF;
background-color	: transparent;
}

a:hover{
color				: #FFFFFF;
background-color	: #0000FF;
cursor				: pointer;
/*
cursor				: default;
cursor				: move;
cursor				: crosshair;
cursor				: wait;
cursor				: help;
cursor				: not-allowed;
cursor				: col-resize;
cursor				: row-resize;
*/
}



/* =====================================================
   List Style
===================================================== */

ul{
}

ol{
}

li{
}



/* =====================================================
   h1～h6
===================================================== */

h1{
color				: white;
background-color	: darkblue;
}

h2{
color				: white;
background-color	: blue;
}

h3{
color				: black;
background-color	: cyan;
}

h4{
color				: black;
background-color	: orange;
}

h5{
color				: black;
background-color	: yellow;
}

h6{
color				: white;
background-color	: pink;
}



/* =====================================================
   hr
===================================================== */

hr{
border				: 0px;
background-color	: lightgray;
}



/* =====================================================
   Table
===================================================== */

table{
background-color	: dimgray;
border				: solid 2px dimgray;
}

th{
color				: white;
background-color	: darkgray;
border				: solid 2px dimgray;
}

td{
color				: black;
background-color	: white;
border				: solid 2px dimgray;
}



