/* *****************************************************
 ::Project  : Galaxy Fleet
 ::Admin    : Korei (@korei-xlix)
 ::github   : https://github.com/korei-xlix/galaxyfleet/
 ::Style    : Galaxy Fleet Index - Wide
***************************************************** */

/* margin / padding
	1px             = ALL
	1px 1px         = UP.Down / Left.Right
	1px 1px 1px     = UP / Left.Right / Down
	1px 1px 1px 1px = UP / Right / Down / Left
	*/

/* =====================================================
   Galaxy Fleet Style
===================================================== */

/*=== Main Title ===*/
header div.gf_Title{
color				: #FFFFFF;
background-color	: #0033FF;
/*padding			: 2px !important;
border-radius		: 0px !important;*/
font-size			: 16px ;
font-weight			: bolder ;
font-family			: "Arial Black";
/*text-decoration	: none;*/
padding				: 4px 24px ;
/*border-radius		: 8px;*/
}

/*=== Button Font ===*/
.gf_ButtonFont{
font-family			: "Arial Black";
}



/* =====================================================
   Galaxy Fleet Style :: User Config (New Game / Login / Change)
===================================================== */

#gf_NewGame table,
#gf_Login table{
color				: #00FF00;
background-color	: #000033;
width				: 480px;
border				: 0px !important;
vertical-align		: middle !important;
}

#gf_NewGame tr, #gf_NewGame td,
#gf_Login tr, #gf_Login td{
color				: #00FF00;
background-color	: #000033;
border				: 0px !important;
padding				: 2px 12px 2px;
vertical-align		: middle !important;
}

#gf_NewGame input.gf_Textbox,
#gf_Login input.gf_Textbox{
color				: #66CCFF;
background-color	: #000000;
width				: 200px;
}

#gf_NewGame td.gf_Agree_Cell{
text-align			: right;
}

#gf_NewGame td.gf_Buttons,
#gf_Login td.gf_Buttons{
text-align			: center;
}

#gf_NewGame td.gf_FileButttonCell,
#gf_Login td.gf_FileButttonCell{
padding				: 24px 0px 8px !important;
text-align			: center;
}

#gf_NewGame label > input,
#gf_Login label > input{
display				: none;
}

#gf_NewGame .gf_FileButton,
#gf_Login .gf_FileButton{
font-size			: 16px !important;
padding				: 4px 30px 4px !important;
font-family			: "Arial Black";
}

#gf_NewGame input.gf_Button,
#gf_Login input.gf_Button{
font-size			: 16px !important;
width				: 80px !important;
height				: 32px !important;
margin				: 8px !important;
padding				: 4px !important;
font-family			: "Arial Black";
}

#gf_Login table.gf_Login_Save{
width				: 480px;
margin				: 36px auto 0px;
padding				: 0px;
}



/*=== Button Form :: Radio Button ===*/
input.gf_Agree_RADBTN{
color				: #66CCFF;
background-color	: #000033;
border				: solid 2px #0099CC;
position			: relative ;
width				: 16px ;
height				: 16px ;
-webkit-appearance	: none ;
-moz-appearance		: none ;
appearance			: none ;
vertical-align		: -5px ;
}

input.gf_Agree_RADBTN:hover{
color				: #CCFFFF;
background-color	: #0033CC;
border				: solid 2px #3399FF;
}

input.gf_Agree_RADBTN:disabled{
color				: #CCCCCC;
background-color	: #202020;
border				: solid 2px #666666;
}

input.gf_Agree_RADBTN:checked:before{
background-color	: #ffff00;
border-right		: 2px solid #ffff00;
border-bottom		: 2px solid #ffff00;
position			: absolute ;
width				: 4px ;
height				: 8px ;
top					: 1px ;
left				: 4px ;
transform			: rotate(50deg) ;
content				: '' ;
}

a.gf_Agree_Link{
color				: #ff8800;
}

a.gf_Agree_Link:hover{
color				: #CCFFFF;
}



/* =====================================================
   Galaxy Fleet Style :: Main Page
===================================================== */

/*=== Main Body ===*/
main.gf_Main_Main{
width				: 100% ;
}

div.gf_Main_MainTop{
width				: 100% ;
margin				: 0px;
padding				: 0px;
}

div.gf_Main_MainCenter{
width				: 100% ;
margin				: 0px;
padding				: 0px;
}

div.gf_Main_MainCenter_Menu{
width				: 100% ;
margin				: 0px;
padding				: 0px;
float				: left;
}

div.gf_Main_MainCenter_Main{
width				: 100% ;
margin				: 0px;
padding				: 0px;
float				: left;
}

br.gf_Main_End{
clear				: both;
}

/*=== Inline Frame :: Main ===*/
iframe.gf_iFrameTop,
iframe.gf_iFrameMenu,
iframe.gf_iFrameMain{
border				: 0px;
height				: 480px;
width				: 100%;
}

/*=== Inline Frame :: Hidden Frame ===*/
.gf_Main_Hidden,
iframe.gf_iFrameHidden{
display				: none;
}



/* =====================================================
   Galaxy Fleet Style :: Index
===================================================== */

/*=== Inline Frame :: Index ===*/

iframe.gf_IndexFrame1,
iframe.gf_IndexFrame2,
iframe.gf_IndexFrame3{
height				: 480px;
width				: 100%;
}

/*=== Caution ===*/
div.gf_NonMobile{
display				: none;
}

div.gf_DevCaution{
color				: #FF0000;
margin				: 8px auto;
font-weight			: bolder;
}

/*=== Start Button ===*/
#gf_Mente{
display				: block;
}

#gf_Start{
display				: none;
}

#gf_Mente a,
#gf_Start a{
color				: #ffffff;
background-color	: #00BB00;
border				: solid 2px #006600;
margin				: 0px;
padding				: 4px 48px;
font-size			: 18px;
font-weight			: bolder;
font-family			: "Arial Black";
text-decoration		: none;
/* display			: inline; */
text-decoration		: none;
}

#gf_Start a.StartButton{
color				: #ffffff;
background-color	: #00BB00;
border				: solid 2px #006600;
}

#gf_Mente a.MenteButton,
#gf_Start a.StartButton:hover{
color				: #ff4500;
background-color	: #ffd700;
border				: solid 2px #ff8c00;
}


/*=== Bunner ===*/
#gf_Bunner{
margin				: 8px 0px 16px 32px;
}






/* ================================================== */
/* ================================================== */

/* =====================================================
   Page Title
===================================================== */

#com_PageTitle div.com_TitleImage{
background-image	: url(../_pic/title/galaxyfleet_title.jpg);
width				: 600px;
height				: 120px;
}



/* =====================================================
   Inline Frame
===================================================== */

iframe.com_Frame-sample1{
height				: 100px;
}



/* =====================================================
   Body
===================================================== */

body{
color				: #FFFFFF;
background			: url('../_pic/wall/prcm_sttars.gif');
}

#com_bodyOutline{
}

#com_bodyInline{
}

/*=== Frame ===*/
#com_bodyFrameOutline{
background-color	: transparent;
}

#com_bodyFrameInline{
background-color	: transparent;
}



/* =====================================================
   Header
===================================================== */

header{
background-color	: #000033;
border-top			: solid 4px blue;
border-bottom		: solid 4px blue;
font-family			: "Arial Black";
}

header div.com_Title{
color				: #FFFFFF;
background-color	: #0033FF;
font-family			: "Arial Black";
}

header span.com_Menu_Select{
color				: #FFFFFF;
background-color	: #0033FF;
padding				: 2px !important;
border-radius		: 0px !important;
}

header a.com_Menu_Cel{
color				: #66FFFF;
background-color	: transparent;
border-radius		: 0px !important;
}

header a.com_Menu_Cel:hover{
color				: #33CC33 ;
background-color	: #003300 ;
}

header div.com_CSS_Menu{
color				: #6699FF;
}

header a.com_CSS_Mode{
color				: #FFFFFF;
background-color	: #6699FF;
padding				: 3px !important;
border-radius		: 0px !important;
}

header a.com_CSS_Mode:hover{
color				: #0000FF;
background-color	: #00ECFF;
}



/* =====================================================
   Footter
===================================================== */

footer{
background-color	: #000033;
border-top			: solid 4px blue;
border-bottom		: solid 4px blue;
font-family			: "Arial Black";
}

footer div.com_Menu_Description{
color				: #EEFFFF;
}

footer a.com_Menu_Cel{
color				: #66FFFF;
background-color	: transparent;
border-radius		: 0px !important;
}

footer a.com_Menu_Cel:hover{
color				: #33CC33 ;
background-color	: #003300 ;
}



/* =====================================================
   CopyrightHeader
===================================================== */

#com_CopyrightHeader{
/*
color				: #000000;
background-color	: #FFFFFF;	*/
font-family			: "Arial Black";
}



/* =====================================================
   CopyrightFooter
===================================================== */

#com_CopyrightFooter{
/*
color				: #000000;
background-color	: #FFFFFF;	*/
font-family			: "Arial Black";
}
#com_CopyrightFooter div.com_Menu_Cel{
border-radius		: 4px;
}

/* *** Yellow / Therms ***/
#com_CopyrightFooter div.com_Menu_Rule, #com_CopyrightFooter a.com_Menu_Rule{
color				: #F00000;
background-color	: #FFFF00;
}
#com_CopyrightFooter div.com_Menu_Rule:hover, #com_CopyrightFooter a.com_Menu_Rule:hover{
color				: #F00000;
background-color	: #FFD5EC;
}

/* *** Orange / Update ***/
#com_CopyrightFooter div.com_Menu_Update, #com_CopyrightFooter a.com_Menu_Update{
color				: #FFFFFF;
background-color	: #ee802f;
}
#com_CopyrightFooter div.com_Menu_Update:hover, #com_CopyrightFooter a.com_Menu_Update:hover{
color				: #59270D;
background-color	: #FFFF99;
}

/* *** Dark Blue / Mentenance ***/
#com_CopyrightFooter div.com_Menu_Mente, #com_CopyrightFooter a.com_Menu_Mente{
color				: #FFFFFF;
background-color	: #999900;
}
#com_CopyrightFooter div.com_Menu_Mente:hover, #com_CopyrightFooter a.com_Menu_Mente:hover{
color				: #59270D;
background-color	: #FFFF99;
}

/* *** Green / Information ***/
#com_CopyrightFooter div.com_Menu_Info, #com_CopyrightFooter a.com_Menu_Info{
color				: #FFFFFF;
background-color	: #008000;
}
#com_CopyrightFooter div.com_Menu_Info:hover, #com_CopyrightFooter a.com_Menu_Info:hover{
color				: #006633;
background-color	: #CCFF99;
}

/* *** Dark green / Documents ***/
#com_CopyrightFooter div.com_Menu_Doc, #com_CopyrightFooter a.com_Menu_Doc{
color				: #FFFFFF;
background-color	: #003300;
}
#com_CopyrightFooter div.com_Menu_Doc:hover, #com_CopyrightFooter a.com_Menu_Doc:hover{
color				: #003300;
background-color	: #00DD00;
}

/* *** Blue / Index ***/
#com_CopyrightFooter div.com_Menu_Index, #com_CopyrightFooter a.com_Menu_Index{
color				: #FFFFFF;
background-color	: #0000FF;
}
#com_CopyrightFooter div.com_Menu_Index:hover, #com_CopyrightFooter a.com_Menu_Index:hover{
color				: #3333FF;
background-color	: #CCFFFF;
}

/* *** Pink / Acknowrage ***/
#com_CopyrightFooter div.com_Menu_Acknow, #com_CopyrightFooter a.com_Menu_Acknow{
color				: #FFFFFF;
background-color	: #FF55FF;
}
#com_CopyrightFooter div.com_Menu_Acknow:hover, #com_CopyrightFooter a.com_Menu_Acknow:hover{
color				: #FFFFFF;
background-color	: #F00000;
}

/* *** Purple / How to Use ***/
#com_CopyrightFooter div.com_Menu_Howto, #com_CopyrightFooter a.com_Menu_Howto{
color				: #FFFFFF;
background-color	: #6927FF;
}
#com_CopyrightFooter div.com_Menu_Howto:hover, #com_CopyrightFooter a.com_Menu_Howto:hover{
color				: #FFFFFF;
background-color	: #CC99FF;
/*background-color	: #660066;*/
}

/* *** Red / Youyube ***/
#com_CopyrightFooter div.com_Menu_Youtube, #com_CopyrightFooter a.com_Menu_Youtube{
color				: #FFFFFF;
background-color	: #EF180F;
}
#com_CopyrightFooter div.com_Menu_Youtube:hover, #com_CopyrightFooter a.com_Menu_Youtube:hover{
color				: #FFFFFF;
background-color	: #010101;
}

/* *** Purple / Github ***/
#com_CopyrightFooter div.com_Menu_Github, #com_CopyrightFooter a.com_Menu_Github{
color				: #FFFFFF;
background-color	: #B064C6;
}
#com_CopyrightFooter div.com_Menu_Github:hover, #com_CopyrightFooter a.com_Menu_Github:hover{
color				: #EEEEEE;
background-color	: #7491FF;
}

/* *** Black / Warnlist ***/
#com_CopyrightFooter div.com_Menu_Warnlist, #com_CopyrightFooter a.com_Menu_Warnlist{
color				: #F00000;
background-color	: #222222;
}
#com_CopyrightFooter div.com_Menu_Warnlist:hover, #com_CopyrightFooter a.com_Menu_Warnlist:hover{
color				: #F00000;
background-color	: #FFFFCC;
}

/* *** Light gray / Contact ***/
#com_CopyrightFooter div.com_Menu_Contact, #com_CopyrightFooter a.com_Menu_Contact{
color				: #FFFFFF;
background-color	: #808080;
}
#com_CopyrightFooter div.com_Menu_Contact:hover, #com_CopyrightFooter a.com_Menu_Contact:hover{
color				: #111111;
background-color	: #EEEEEE;
}

/* *** Pink / X :: Public ***/
#com_CopyrightFooter div.com_Menu_X_Pub, #com_CopyrightFooter a.com_Menu_X_Pub{
color				: #FFFFFF;
background-color	: #FF367F;
}
#com_CopyrightFooter div.com_Menu_X_Pub:hover, #com_CopyrightFooter a.com_Menu_X_Pub:hover{
color				: #FFFFFF;
background-color	: #7491FF;
}

/* *** Blue / X :: Author ***/
#com_CopyrightFooter div.com_Menu_X_Auth, #com_CopyrightFooter a.com_Menu_X_Auth{
color				: #FFFFFF;
background-color	: #7491FF;
}
#com_CopyrightFooter div.com_Menu_X_Auth:hover, #com_CopyrightFooter a.com_Menu_X_Auth:hover{
color				: #FFFFFF;
background-color	: #C63735;
}

/* *** Maroon / X :: Deverop ***/
#com_CopyrightFooter div.com_Menu_X_Dev, #com_CopyrightFooter a.com_Menu_X_Dev{
color				: #FFFFFF;
background-color	: #C63735;
}
#com_CopyrightFooter div.com_Menu_X_Dev:hover, #com_CopyrightFooter a.com_Menu_X_Dev:hover{
color				: #FFFFFF;
background-color	: #7491FF;
}

#com_CopyrightFooter a.com_Menu_TwitterFT{
color				: #0000FF;
background-color	: #FFFFFF;
}
#com_CopyrightFooter a.com_Menu_TwitterFT:hover{
color				: #FFFFFF;
background-color	: #0000FF;
}



/* =====================================================
   Description
===================================================== */

#com_Description{
color				: #FFFFFF;
background-color	: transparent;
padding				: 0px;
text-align			: center;
}



/* =====================================================
   Navigation
===================================================== */

#com_Navigation{
background-color	: transparent;
/*
color				: blue;
border-bottom		: solid 8px dimgray;
border-top			: solid 8px dimgray;
background-color	: cyan;
*/
}

#com_Navigation div.com_NavigationTitle{
color				: #FFFFFF;
background-color	: #000066;
}

#com_Navigation a{
color				: #0000FF;
background-color	: transparent;
}

#com_Navigation a:hover{
color				: #FFFFFF;
background-color	: #0000FF;
}

a.com_Nav{
color				: #FFFFFF;
background-color	: #6699FF;
border-radius		: 0px !important;
font-family			: "Arial Black";
}

a.com_Nav:hover{
color				: #0000FF;
background-color	: #00ECFF;
}



/* =====================================================
   Contents Common
===================================================== */

.com_ContentsTitle{
/*
color				: white;
background-color	: cornflowerblue;
*/
color				: #FFFFFF;
background			: #000033;
font-family			: "Arial Black";
padding				: 8px 12px !important;
}
.com_ContentsTitle:before{
border-bottom		: solid 8px #0000FF;
border-right		: solid 20px transparent;
}
.com_ContentsTitle:after{
border-top			: solid 8px #0000FF;
border-left			: solid 20px transparent;
}

.com_ContentsBody{
color				: #FFFFFF;
background-color	: #000000;
}



/* =====================================================
   Transrate
===================================================== */

#iRAD_Transrate{
color				: #ffff00;
}

#iRAD_Transrate label.Label{
color				: #33CC33;
background-color	: #003300;
border				: 1px solid #33CC33;
}

#iRAD_Transrate label.Label:after{
border				: 1px solid #33CC33;
}

#iRAD_Transrate label.Label:before {
background-color	: #33CC33;
}

#iRAD_Transrate input[type="radio"].Button{
}

#iRAD_Transrate input[type="radio"].Button:checked + label.Label:before {
}



/* =====================================================
   Selector
===================================================== */

							/* Close */
input[type="checkbox"].com_ContentsSelector_CBX + .com_ContentsSelector_LAB{
color				: #FFFFFF;
background			: #0099FF;
border				: inset 6px #0066FF;
}

input[type="checkbox"].com_ContentsSelector_CBX:hover + .com_ContentsSelector_LAB{
color				: #003333;
background-color	: #CCFFCC;
}

							/* Open */
input[type="checkbox"].com_ContentsSelector_CBX:checked + .com_ContentsSelector_LAB{
color				: #FFFFFF;
background-color	: #009900;
border				: inset 6px #009900;
}

input[type="checkbox"].com_ContentsSelector_CBX:checked:hover + .com_ContentsSelector_LAB{
color				: forestgreen;
background-color	: lawngreen;
}

							/* Body */
.com_ContentsSelector_Body{
color				: #000000;
background-color	: #FFFFFF;
border-left			: solid 4px #009900;
border-right		: solid 4px #009900;
border-bottom		: solid 4px #009900;
border-top			: 0px;
}



/* =====================================================
   Button Style
===================================================== */

/*=== Button Color :: Default・青っぽい・緑っぽい ===*/
.com_BTNCOL_Def{
color				: #66CCFF;
background-color	: #000033;
border				: solid 2px #0033CC;
}

.com_BTNCOL_Def:hover{
color				: #33CC33;
background-color	: #003300;
border				: solid 2px #009900;
}


/*=== Button Color :: Hold ===*/
.com_BTNCOL_Hold{
color				: #66CCFF;
background-color	: #000033;
border				: solid 2px #0033CC;
}

.com_BTNCOL_Hold:hover{
color				: #003300;
background-color	: #669900;
border				: solid 2px #009900;
}

.com_BTNCOL_Hold_On{
color				: #003300;
background-color	: #99FF00;
border				: solid 2px #009900;
}


/*=== Button Color :: Click ===*/
.com_BTNCOL_Click{
color				: #66CCFF;
background-color	: #000033;
border				: solid 2px #0033CC;
}

.com_BTNCOL_Click:hover{
color				: #880000;
background-color	: #CC6600;
border				: solid 2px #880000;
}

.com_BTNCOL_Click_On{
color				: #880000;
background-color	: #FFCC33;
border				: solid 2px #880000;
}


/*=== Button Color :: Message ===*/
.com_BTNCOL_Msg{
color				: #66CCFF;
background-color	: #000033;
border				: solid 2px #0033CC;
}

.com_BTNCOL_Msg:hover{
color				: #33CC33;
background-color	: #003300;
border				: solid 2px #009900;
}


/*=== Button Color :: Check ===*/
label.com_BTNCOL_Check{
color				: #66CCFF;
background-color	: #000033;
border				: solid 2px #0033CC;
}

label.com_BTNCOL_Check:hover{
color				: #CCFFFF;
background-color	: #0033CC;
border				: solid 2px #3399FF;
}

input[type="checkbox"].com_BTNCOL_Check:checked + .com_BTNCOL_Check{
color				: #000088;
background-color	: #0099FF;
border				: solid 2px #3399FF;
}


/*=== Button Color :: Radio ===*/
label.com_BTNCOL_Radio{
color				: #66CCFF;
background-color	: #000033;
border				: solid 2px #0033CC;
}

label.com_BTNCOL_Radio:hover{
color				: #CCFFFF;
background-color	: #0033CC;
border				: solid 2px #3399FF;
}

label.com_BTNCOL_Radio:after{
border				: solid 2px #0033CC;
}

label.com_BTNCOL_Radio:before {
background-color	: #0099FF;
}


/*=== Button Color :: Disabled・灰色 ===*/
.com_BTNCOL_Def:disabled,
.com_BTNCOL_Disabled{
color				: #CCCCCC;
background-color	: #202020;
border				: solid 2px #666666;
}






/* 未使用 */

					/* デフォルト・水色っぽい */
.com_BTN_Miz{
color				: #3366FF;
background-color	: #66FFFF;
border				: solid 2px #3399FF;
}
					/* デフォルト・赤っぽい */
.com_BTN_Red{
color				: #cccccc;
background-color	: #330000;
border				: solid 2px #880000;
}
					/* デフォルト・赤柴っぽい */
.com_BTN_Ppl{
color				: #FFDDFF;
background-color	: #CC3399;
border				: solid 2px #660066;
}






/* =====================================================
   Popup Help
===================================================== */

.com_PopupHelp{
color				: #ffffff;
background-color	: #000033;
border				: solid 4px #0000ff;
}



/* =====================================================
   Popup Window
===================================================== */

.com_PopupWin{
background-color	: #000033;
border				: solid 4px #0000ff;
}

.com_PopupWin_Bar{
background-color	: #0000ff;
border				: solid 4px #0000ff;
}

.com_PopupWin_Close{
background-color	: #ff0000;
/*border-top		: solid 2px #ff0000;
border-left			: solid 2px #ff0000;
border-right		: solid 2px #ff0000;
border-bottom		: solid 2px #0000ff;*/
border				: solid 2px #ff0000;
}
.com_PopupWin_Close_On{
background-color	: #99FFFF;
/*border-top		: solid 2px #99FFFF;
border-left			: solid 2px #99FFFF;
border-right		: solid 2px #99FFFF;
border-bottom		: solid 2px #0000ff;*/
border				: solid 2px #99FFFF;
}

.com_PopupWin_Body{
color				: #66CCFF;
}

.com_PopupWin_TextArea{
color				: #66CCFF;
background-color	: #000033;
box-shadow			: 1px 1px 1px #000088;
}

.com_PopupWin_AutoBtn{			/* 自動送り */
color				: #66CCFF;
background-color	: #000033;
border				: solid 2px #0033CC;
}
.com_PopupWin_AutoBtn:hover{
color				: #33CC33;
background-color	: #003300;
border				: solid 2px #009900;
}
.com_PopupWin_AutoBtn_On{		/* 自動送り・オン */
color				: #CCFFFF;
background-color	: #0033CC;
border				: solid 2px #3399FF;
}
.com_PopupWin_AutoBtn_Iv{		/* 自動送り・イベント中（閉じる不能） */
color				: #3366FF;
background-color	: #66FFFF;
border				: solid 2px #3399FF;
}



/* =====================================================
   Log Box
===================================================== */



















/* =====================================================
   Anchor
===================================================== */

a{
color				: #0000FF;
background-color	: transparent;
}

a:hover{
color				: #FFFFFF;
background-color	: #0000FF;
cursor				: pointer;
/*
cursor				: default;
cursor				: move;
cursor				: crosshair;
cursor				: wait;
cursor				: help;
cursor				: not-allowed;
cursor				: col-resize;
cursor				: row-resize;
*/
}



/* =====================================================
   List Style
===================================================== */

ul{
}

ol{
}

li{
}



/* =====================================================
   h1～h6
===================================================== */

h1{
color				: white;
background-color	: darkblue;
}

h2{
color				: white;
background-color	: blue;
}

h3{
color				: black;
background-color	: cyan;
}

h4{
color				: black;
background-color	: orange;
}

h5{
color				: black;
background-color	: yellow;
}

h6{
color				: white;
background-color	: pink;
}



/* =====================================================
   hr
===================================================== */

hr{
border				: 0px;
background-color	: lightgray;
}



/* =====================================================
   Table
===================================================== */

table{
background-color	: dimgray;
border				: solid 2px dimgray;
}

th{
color				: white;
background-color	: darkgray;
border				: solid 2px dimgray;
}

td{
color				: black;
background-color	: white;
border				: solid 2px dimgray;
}



