/**********************************************
Site URL : https://mynoghra.jp/
Degine   : RSS Style
******************************************** */

/*=== Unvisible Tag ===*/
image, language, managingEditor, webMaster, docs, copyright,
lastBuildDate, pubDate, rating, day, hour,
skipDays, skipHours, textinput, name, generator,guid{
display: none;
}

/*=== Body ===*/
rss, channel, item, title, description, link{
display				: block;
}
rss{
background-color	: #CB7928;
}

/*=== Channel ===*/
channel{
margin				: 10px;
padding				: 0px;
}
channel>title{
color				: #ffffff;
background-color	: #000000;
font-size			: 32px;
font-weight			: bolder;
margin				: 0px;
padding				: 4px 12px;
}
channel>link{
color				: #ffffff;
background-color	: #663300;
margin				: 0px;
padding				: 8px 16px;
text-decoration		: underline;
}
channel>description{
color				: #ffffff;
background-color	: #663300;
margin				: 0px 0px 12px;
padding				: 0px 16px 12px;
}

/*=== Item ===*/
item{
color				: #000000;
background-color	: #ffffff;
border				: 2px solid #000000;
margin				: 10px 0;
padding				: 12px 8px 12px;
}
item>title{
font-size			: 18px;
font-weight			: bold;
margin				: 0px;
padding				: 0px;
}
item>description{
margin				: 6pt 12px;
}
item>link{
display				: block;
color				: #0000ff;
margin				: 10px 0px 0px 12px;
}
item>category,
item>pubDate{
display				: block;
margin				: 3px 0px 0px 24px;
}
item>link:before{
content				: "URL: ";
}
item>category:before{
content				: "Category: ";
}
item>pubDate:before{
content				: "Date: ";
}

